.juiceglass,.juicestraw{
    animation-name:juice;
    transform-origin: 50% 50%;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;


  }
  @keyframes juice {
    0% {
        transform:rotate(-15deg);
    }

    50% {
        transform: rotateX(15deg);
    }

    100%{
        transform: rotateX(-15deg);

    }


}



.foot{
    animation-name: footmove;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    transform-origin: bottom left;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;


}
@keyframes footmove{
    0%{
        transform: translateY(3deg);
    }

    100%{
        transform:rotate(-3deg);
    }
}



.elbow,.hands{
    animation-name:elbowmove;
    animation-iteration-count: infinite;
    animation-duration: 3.5s;
    transform-origin: bottom left;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

}

@keyframes elbowmove{
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(-5px);
    }

    100%{
        transform: translateX(5px);

    }
}









.legblack{
    animation-name:legblackmove;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    transform-origin: bottom right;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

}

@keyframes legblackmove{

    0%{
        transform:rotate(0deg);
    }
    50%{
        transform:rotate(30deg);
    }
    100%{
        transform:rotate(-30deg);
    }
}


.navbarsea{
    animation-name: navbarseamove;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    animation-direction: linear;

}
@keyframes navbarseamove{
    0%{
        background-position-x:0;
    }
    100%{
        background-position-x:500px;
    }
}

.whitepool{
    animation-name: whitepoolmove;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    transform: translateY(30px);


}
@keyframes whitepoolmove{
    0%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}

.allpic{
    animation-name: allpicmove;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;

}
@keyframes allpicmove{
    0%{
        transform:rotate(5deg);
    }
    100%{
        transform: rotateX(-2deg);
    }
}
