body{
    padding: 0;
    margin: 0S;
}

.container3{

  background-color: rgba(13,97,225,255);
  padding-right: 25px;
  color: white;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 22px;
  padding-left:25px;
  overflow-x: hidden;
  justify-content: space-between;
}

.right{
  display:flex;
  gap:20px;
  margin-left: 20px ;
}

.hoverbox{
  width: 100px;
  height: 100px;
  background-color: rgba(26,68,135,255);
}

.hoverbox svg{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}


.container4{
  display: flex;
  background-color:rgba(26,68,135,255);
  justify-content: space-between;
  padding-left: 25px;
  overflow-x: hidden;
}


.swwim{
  color: white;
  height: 130px;
  width: 100px;
margin-top: 15px;
}

.uparrow{
  margin-top: 65px;
  color: white;
  font-size: 25px;
  font-weight: lighter;
  padding-right: 25px;
  border: 1px solid white;
  border-radius: 100%;
}

.icons{
  display: flex;
  padding-bottom: 300px;
  padding-top:27px;
  gap:20px;
 border: 0px;
}

.legal{
  display:grid;grid-template-columns: 30% 40% 40%;
  gap:10px;
}

.container5{
 display: flex;
 flex-direction: row;
 gap: 270px;
 padding-right: 25px;
 ;


  background-color:rgba(26,68,135,255);
  color: white;
  padding-left:25px;
  padding-bottom: 50px;
  overflow-x: hidden;
}

.aloha{
  font-family: Greycliff,Arial,sans-serif;
  font-size: 35px;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.chat{
  font-size: 30px;
  font-weight: lighter;
  padding-top: 0%;
  margin-top: 0%;
}

.contactbutton{
  background-color:white;
  border: none;
  color: rgba(26,68,135,255);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  border-radius: 22px;
  font-size: 15px;
  font-weight: bold;
}

.contactbutton:hover{
  color:white;

  animation: buttoncolor 1s ;
}
@keyframes buttoncolor{
  from {background-color:white;}
  to {background-color: #220587;}
}


.contactflex{
  display: flex;

  gap:90px;
}

.contactflex h1{
  color:white;
}

.contactflex h3{
  color: lightgrey;
  font-family: Greycliff,Arial,sans-serif;
}



.legal{
  color: lightgrey;
}

.legal a{
  color:grey;
  font-size:30px;
}


.h3{
  color: #95a8c7;
  font-weight: lighter;
  font-size: 15px;
}

.contact{
  padding-top: 15px;
  color: white;
  font-size: 25px;
}

.diveimg{
  border:1px solid white;padding-bottom: 0px;border-radius:50%;height:30px;width:30px;margin-top:20px;
}

.yogirl{
  position: absolute;
  right: 45px;
}

.yogirl img{
height: 280px;
width: 280px;
}
