.thirdest {
    background-color: rgba(33, 93, 172, 255);
}

.title1 {
    color: white;
    font-size: 45px;
    font-family: Baton Turbo, Arial, sans-serif;
    font-weight: 800;
    margin-top: 45px;
    margin-left: 20px;
    margin-bottom: 70px;
}

.titleend {
    color: white;
    font-size: 15px;
    font-family: Baton Turbo, Arial, sans-serif;
    font-weight: 600;
    margin-top: 45px;
    margin-right: 20px;

}

.titleflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.underline {
    color: white;
    width: 100px;
    font-weight: bolder;
}


.news1 {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}


.news2 {
    margin-left: 20px;

    display: flex;
    flex-direction: row;
    gap: 15px;
}

.news3 {
    margin-left: 20px;

    display: flex;
    flex-direction: row;
    gap: 15px;
}

.newstxt {
    color: white;
    font-family: Baton Turbo, Arial, sans-serif;
    font-size: 35px;
    font-weight: 600;

}

.newsimg1 {
    display: inline-block;
    overflow: hidden;
}

.newsimg1 img:hover {
    -webkit-transform: scale(1.1);
    /* Safari and Chrome */
    -moz-transform: scale(1.1);
    /* Firefox */
    -ms-transform: scale(1.1);
    /* IE 9 */
    -o-transform: scale(1.1);
    /* Opera */
    transform: scale(1.1);
}

.newsimg1 img {
    height: 350px;
    width: 680px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    vertical-align: middle;
}

.newsimg2 {
    display: inline-block;
    overflow: hidden;
}

.newsimg2 img:hover {
    -webkit-transform: scale(1.1);
    /* Safari and Chrome */
    -moz-transform: scale(1.1);
    /* Firefox */
    -ms-transform: scale(1.1);
    /* IE 9 */
    -o-transform: scale(1.1);
    /* Opera */
    transform: scale(1.1);
}

.newsimg2 img {
    height: 350px;
    width: 550px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    vertical-align: middle;
}

.newsimg3 {
    display: inline-block;
    overflow: hidden;
}


.newstxt:hover {
    color: rgba(166,189,222,255);

}

.newsimg3 img:hover {
    -webkit-transform: scale(1.1);
    /* Safari and Chrome */
    -moz-transform: scale(1.1);
    /* Firefox */
    -ms-transform: scale(1.1);
    /* IE 9 */
    -o-transform: scale(1.1);
    /* Opera */
    transform: scale(1.1);
}


.newsimg3 img {
    height: 350px;
    width: 550px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    vertical-align: middle;
}




.line12 {
    border: 0.5px solid white;
}


.advice {
    color: white;
    font-weight: bolder;
    font-size: 15px;

    display: flex;
    flex-direction: row;
    gap: 10px;

}

.time {
    font-weight: bolder;
    font-size: 15px;

    color: white;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.date {
    font-weight: bolder;
    font-size: 15px;

    color: rgba(166,189,222,255);
}

.advice img {
    height: 15px;
    width: 15px;
    filter: none;
}

.time img {
    height: 15px;
    width: 15px;
}

.flex1 {
    display: flex;
    flex-direction: row;
    gap: 25px;

}

.byname {
    font-weight: bolder;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.byname img {
    height: 30px;
    width: 30px;
    border: white 1px solid;
    border-radius: 50%;

}

.flex2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flexcolumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.arrimg{
    margin-top: 6px;
}

.arrimg img {
    height: 20px;
    width: 15px;
    border: white 2px solid;
    border-radius: 50%;
    background-color: white;
}

.arrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.newsimg1 {
    display: inline-block;
    overflow: hidden;
}

.news1:hover .newsimg1 img {
    -webkit-transform: scale(1.1);
    /* Safari and Chrome */
    -moz-transform: scale(1.1);
    /* Firefox */
    -ms-transform: scale(1.1);
    /* IE 9 */
    -o-transform: scale(1.1);
    /* Opera */
    transform: scale(1.1);
}

 .newsimg1 img {
    height: 350px;
    width: 680px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    vertical-align: middle;
}

.newsimg2 {
    display: inline-block;
    overflow: hidden;
}

.news2:hover .newsimg2 img {
    -webkit-transform: scale(1.1);
    /* Safari and Chrome */
    -moz-transform: scale(1.1);
    /* Firefox */
    -ms-transform: scale(1.1);
    /* IE 9 */
    -o-transform: scale(1.1);
    /* Opera */
    transform: scale(1.1);
}

.newsimg2 img {
    height: 350px;
    width: 550px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    vertical-align: middle;
}

.newsimg3 {
    display: inline-block;
    overflow: hidden;
}


.news1:hover .newstxt {
    color: rgba(166,189,222,255);

}

.news2:hover .newstxt {
    color: rgba(166,189,222,255);

}

.news3:hover .newstxt {
    color: rgba(166,189,222,255);

}

.news3:hover.newsimg3 img {
    -webkit-transform: scale(1.1);
    /* Safari and Chrome */
    -moz-transform: scale(1.1);
    /* Firefox */
    -ms-transform: scale(1.1);
    /* IE 9 */
    -o-transform: scale(1.1);
    /* Opera */
    transform: scale(1.1);
}


.newsimg3 img {
    height: 350px;
    width: 550px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    vertical-align: middle;
}
