body{
    padding: 0;
    margin: 0S;
}

#navbar{
    background-color: rgba(22, 88, 179);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;

}



.swwimnav{
    color: white;
    height: 130px;
    width: 100px;
  margin-top: 10px;
  }

  .nav1{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 25px;
  }

  .navtxt{
    margin-top: 65px;
    color: white;
    font-size: 15px;
  }

  .vline{
    margin-top: 35px;
    color: white;
    font-size: 60px;
    font-weight: -200;
}

.menu{
    color: white;
    font-size: 18px;
    margin-top: 5px;
}

.menuflex:hover .menu , .menuflex:hover .design{
    color: #95a8c7;

}



.design{
    color: white;
    height: 30px;
    width: 20px;
}

.buttcont{
    background-color:white;
    color: rgba(22, 88, 179);
    border: none;
    border-radius: 25px;
    height: 40px;
    width: 130px;
    font-size: 15px;
    font-weight: 600;
    padding: 12px;
}

.buttcont:hover{
    background-color:#0c0454;
    color:white;
}



.menuflex{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}


.navflex{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-right: 25px;
}

.hamflex{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-right: 25px;


}

#close{
    color: white;
    font-size: 18px;
    background-color:rgba(22, 88, 159);
    border: none;
    padding: 0%;
    position: relative;
    bottom: 35px;

}

#close:hover{
    color: #95a8c7;
}

.navhamburger{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.hamburger{
    background-color: rgba(22, 88, 159);
    width: 50%;
    display: none;
    position: absolute;
    top: 1%;
    left:0;
    -webkit-animation: right-to-left .5s linear forwards;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation: right-to-left .5s  linear forwards;
   animation-direction: reverse;
   z-index: 1;

}

@keyframes right-to-left{
    from{left:50%}
    to{left:100%}
}

.swwimham{
    color: white;
    height: 170px;
    width: 150px;
  margin-top: 10px;
  }

  .hamswwim{
    padding-left: 25px;
  }

  .dropdown{
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-left: 25px;
    padding-bottom: 20px;
  }

  .hamnum{
    color: white;
    font-size: 35px;
    font-weight: bold;
    margin-top: 5px;
    font-family: Baton Turbo,Arial,sans-serif;
  }

  .hamtext{
    color: white;
    font-size: 40px ;
    font-weight: bolder;
    font-family:Baton Turbo,Arial,sans-serif;
  }

  .hamtext:hover{
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: rgba(22, 88, 179);
  }

  .linkham{
    padding-top: 50px;
    color: white;
    font-weight: bold;
    padding-left: 25px;
    font-size: 18px;

  }

  .flexgirllink{
    display: flex;
    flex-direction: row;
  }

  .girlswim{
    position: relative;
    bottom: 100px;
  }
