body {
  padding: 0;
  margin: 0S;
}

.firstest {
  background-color: rgba(33, 93, 172, 255);
  padding-left: 40px;
  padding-right: 40px;
  overflow-x: hidden;
  padding-bottom: 350px;
}

.diveimg svg:hover {
  transform: translateY(10px)rotate(360deg);
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  animation-name: arrowmove;
  animation-delay: -2s;
  animation-duration: 7s;

}


.dive{
  height:100px;color:white;
}

.diveimg{
  border:1px solid white;padding-bottom: 0px;border-radius:50%;height:30px;width:30px;margin-top:20px;
}

.divehead h2{
  color:white;font-weight: 500;font-style: Greycliff,Arial,sans-serif;
}


.headphone-move img{
  position:absolute;left:600px;top:130px;
}
@keyframes arrowmove {
  0% {
    transform: translateY(20px);
  }

  100% {
    transform: translate(0px);
  }
}

.girlchillpara h2 {
  color: white;
  font-size: 15px;
  font-family: Greycliff, Arial, sans-serif;
  margin-bottom: 0px;
}




.girlchillpara h2:hover {
  color: lightgrey;
}

@keyframes movesea {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-10px);
  }
}



.learnandimg h2 {
  color: white;
  font-size: 15px;
  font-family: Greycliff, Arial, sans-serif;
  margin-bottom: 0px;
}

.learnandimg:hover .designs {
  animation: movesea 0.4s linear infinite;
  transform-origin: center;
  color: lightgray;


}

.titleend:hover .designs {
  animation: movesea 0.4s linear infinite;
  transform-origin: center;
  color: lightgray;
}

.titleend:hover p {
  color: lightgray;

}

.casestudyplusimg:hover p {
  color: lightgray;
}

.casestudyplusimg:hover .designs {
  animation: movesea 0.4s linear infinite;
  transform-origin: center;
  color: lightgray;
}

@keyframes movesea {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-10px);
  }
}

nav {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-right: 10px;
}

.right {
  display: flex;
  gap: 15px;
}

.left {
  display: flex;
  gap: 25px;
}

.pill {
  color: #022a6b;
  background-color: white;
  border: 1px solid #0c1978;
  border-radius: 25px;
  padding-left: 10px;
  margin-top: 25px;
  width: 125px;
  ;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 150px;
  font-size: 20px;
  height: 50px;
  font-family: Greycliff, Arial, sans-serif;
}

.pill:hover {
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .5s;
  background-color: #022a6b;
  color: white;

}


.sleep {
  display: grid;
  grid-template-columns: 40% 50%;
  grid-gap: 250px;
  padding-top: 100px;
  padding-bottom: 100px;
}


.sleepimg img {
  width: 400px;
  height: 500px;
}


.parasleep h1 {
  font-size: 50px;
  color: white;
}

.juice {
  display: grid;
  grid-template-columns: 10% 40% 40%;
  padding-top: 40px;
}

/*
.milkimg1 img{
  width: 100px;
  height: 100px;
}*/

.juiceimg1 img {
  width: 500px;
  height: 500px;
}


.juiceimg2 img {
  width: 400px;
  height: 500px;
  padding-top: 70px;
}



.goa {
  background: url("https://www.weswwim.com/_next/image?url=%2Ficons%2Fthe-doing-palm.svg&w=1920&q=75")no-repeat;
  background-size: 1250px 1250px;
  background-position-x: -130px;
  margin-left: 0px;
  position: relative;
  top: 100px;

}

/*
.headphone{
  background:url("https://www.weswwim.com/_next/image?url=%2Ficons%2Fmegaphone.svg&w=1920&q=75")no-repeat;
  background-size: auto;
  background-position-x:600px;
  background-position-y:150px;

}*/

.juiceimg2 {
  background: url("https://www.weswwim.com/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Fja7gk6cd%2Fproduction%2F1eef62a20b4241c4bd62f4006506b301e01295cd-1059x1374.jpg%3Frect%3D5%2C0%2C1050%2C1374%26w%3D550%26h%3D720%26q%3D95%26fit%3Dclip%26auto%3Dformat&w=2048&q=75")no-repeat;
  background-size: 415px 509px;
  background-position-y: 70px;
}

.juiceimg1 {
  background: url("https://www.weswwim.com/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Fja7gk6cd%2Fproduction%2F525d6729ac1f4974d4379d18940b0f76d498289e-1053x1221.jpg%3Frect%3D0%2C40%2C1053%2C1141%26w%3D600%26h%3D650%26q%3D95%26fit%3Dclip%26auto%3Dformat&w=2048&q=75")no-repeat;
  background-size: 405px 430px;
}


/*.bottle{
  background:url("https://www.weswwim.com/_next/image?url=%2Ficons%2Fbottle-right.svg&w=2048&q=75")no-repeat;
  background-size:127px 194px;
}*/

.goaheading h1 {
  font-size: 120px;
  color: white;
  text-align: right;
}

.about {
  margin-bottom: 0%;
  padding-right: 100px;

}

.graft {
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-fill-color: rgba(22, 88, 179);
  text-align-last: right;
  margin-top: 0px;
  padding-right: 100px;
}

.hehe {
  font-size: 20px;
  line-height: 30px;
}

.girlchill {
  display: grid;
  grid-template-columns: 50% 40%;
  grid-gap: 50px;
}

.girlchillpara h1 {
  font-size: 30px;
  color: white;
  font-family: Baton Turbo, Arial, sans-serif;
}

.girlchillpara p {
  color: white;
  font-size: 17px;
  font-family: Greycliff, Arial, sans-serif;

}

.girlchillpara {
  padding-left: 150px;
  padding-bottom: 30px;

}

.delivery {
  display: grid;
  grid-template-columns: 56% 36%;
  grid-column-gap: 5%;
  height: 190px;
  padding-top: 0px;
  margin-top: auto;
}


.delivery h1,
.creative h1 {
  font-size:7vw;
  color: white;
}

.del2 {
  display: grid;
  grid-template-columns: 36% 56%;
  grid-column-gap: 5%;
}

.pic2 img{
  width:500px;height:300px;
}

.pic1 img{
  width: 100%;
  height:40%;
}


.creative {
  display: grid;
  grid-template-columns: 56% 36%;
  grid-column-gap: 5%;
  margin-top: -120px;
  margin-bottom: -80px;

}


.creative p {
  font-size: 1.4vw;
  color: white;
  font-family: Greycliff, Arial, sans-serif;
  padding-top: 70px;
  width: 498px;
}

.pic2 img{
  width: 100%;
  height: 80%;

}




.d2 h1 {
  font-family: Baton Turbo, Arial, sans-serif;
  font-size: 7vw;
  color: white;
}

.dive {
  display: flex;
  gap: 20px;
}

#rotateswwim {
  height: 120px;
  width: 120px;
  position: relative;
  right: 40px;
  top: -70px;

}

#rotatetext {
  position: relative;
  right: 259px;
  top: 50px;
  height: 350px;
  width: 350px;
}

.hoverbox :hover {

  background-image: url(https://www.weswwim.com/images/insta.gif);
  background-size: 105px 120px;

}

.hoverbox:hover svg {
  background-image: url(https://www.weswwim.com/images/insta.gif);
}

.hovers:hover {
  transform: scale(1.1);
}


.hovers:hover {
  transform: scale(1.1);
}

/*
.duck{
  transition: all 1s ease-in-out;
}

#duck:hover{
  transform: translateY(120px);
}
*/

.bottle {
  width: 500px;
  height: 600px;
  animation-name: bottlemove;
  transform-origin: center center;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 2s;



}

.bottle img {
  width: 200px;
  height: 250px;
  position: absolute;
  top: -90px;

  right: - 55px;
}

@keyframes bottlemove {
  0% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-5px);
  }
}

.duck img {
  position: absolute;
  top: 330px;
  left: 250px;
  width: 250px;
  height: 350px;
}

.duck {
  animation: duckmove ease-in-out 2s infinite alternate;
  transform-origin: bottom right;
  transform: rotateY(150deg);
}

@keyframes duckmove {
  0% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-5px);
  }
}

.headphone-move img {
  height: 250px;
  width: 250px;
  position: absolute;
}

.headphone-move {

  animation: headphonemove ease-in-out 1.4s infinite alternate;
  transform-origin: center;
  transform: rotate(-20deg);
}

@keyframes headphonemove {
  0% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(-2deg);
  }
}


/*
.swing {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center ;
    float:right;

}

@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-30deg); }
}

*/





#rotatetext {

  animation: animate 7s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(-360deg);
  }

  100% {
    transform: rotate(360deg);

  }
}

/*
#rotateswwim{
  animation: anim 3s linear infinite;
}

@keyframes anim {
  0%{
    transform: translate3d(10%);
  }
}
*/
.railway {
  font-size: 29px;
  padding-top: 30px;
  padding-bottom: 20px;
  color: white;
  font-size: 2vw;
  font-family: Baton Turbo, Arial, sans-serif;
  width: 100%;
  height: 50px;
  font-weight: bold;
  animation-iteration-count: infinite;
}

.wel {
  display: flex;
  color: white;
}

.right11 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: white;
}

.letterclients {
  display: flex;
  flex-direction: row;
  font-family: Baton Turbo, Arial, sans-serif;
  padding-left: 8%;
}

.letter {
  display: flex;
}

.letter h1 {
  font-size: 1rem;
  line-height: 1.5rem;

}

.letter1 {
  color: rgba(22, 88, 179);
  animation: letterdance 2s infinite;
  animation-delay: 0.1s;


}

.letter2 {
  color: rgba(22, 88, 179);
  animation: letterdance 2s infinite;
  animation-delay: 0.2s;
}

.letter3 {
  color: rgba(22, 88, 179);
  animation: letterdance 2s infinite;
  animation-delay: 0.1s;
}

.letter4 {
  color: rgba(22, 88, 179);
  animation: letterdance 2s infinite;
  animation-delay: 0.2s;
}

.letter5 {
  color: rgba(22, 88, 179);
  animation: letterdance 2s infinite;
  animation-delay: 0.1s;
}

.letter6 {
  color: rgba(22, 88, 179);
  animation: letterdance 2s infinite;
  animation-delay: 0.2s;
}

.letter7 {
  color: rgba(22, 88, 179);
  animation: letterdance 2s infinite;
  animation-delay: 0.1s;
}

@keyframes letterdance {
  0% {
    transform: translateY(0px)rotate(-9deg);
  }

  50% {
    transform: translateY(-5px)rotate(-9deg);
  }

  100% {
    transform: translateY(0px)rotate(-9deg);
  }
}
